# https://github.com/Ahli/Galaxy-Observer-UI/tree/main/tools/plugins/casc
CASC_EXE=../CascExtractor.exe
# Heroes Installation
HEROES_DATA_LIVE=C:/Heroes of the Storm/HeroesData/
HEROES_DATA_PTR=C:/Heroes of the Storm Public Test/HeroesData/